.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

/* Lägg till stil för dina <p> element */
.confirmation-container p {
  text-align: center;
  color: #ffffff;
  font-size: 1.7rem;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--main-background-color);
}