.home-container {
    position: relative;
}

.main-container {
    position: relative;
}

.hero-video {
    height: 90vh;
    object-fit: cover;

}


.om-text {
    color: var(--main-text-color);
}


.homeAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.homeAbout h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.homeAbout p {
    text-align: center;
    width: 50%;
    margin-bottom: 2rem;
}